$primaryColor: #82be50;
$secondaryColor: #374141;
$questionHeader: #374141;

.survey-container {

  max-width: 900px;
  margin: 10px auto 0 auto;
}

#survey-questions-pjax {
  transition: all .2s;
}

.survey-container, .kv-editable-popover, #survey-index {
  .btn {
    transition: all .3s;
    background-color: transparent;
    color: #393939;
    border-radius: 5px;
    min-width: 28px;
    box-shadow: 0 3px 7px transparent;
    margin: 7px 3px;

    &.btn-xs {
      padding: 2px 8px;
    }

    &:hover {
      box-shadow: 0 3px 7px #9a9a9a;
    }

    &.btn-primary {
      border-color: #2196F3;
      background-color: transparent;

      &:hover, &:focus {
        background-color: #239dff;
        border-color: #239dff;
        color: #fff;
      }

      &:active, &:active:focus {
        background-color: #1f7aca;
        border-color: #1f7aca;
        color: #fff;
      }
    }

    &.btn-success {
      border-color: #009688;
      background-color: transparent;

      &:hover, &:focus {
        background-color: #00bdad;
        border-color: #00bdad;
        color: #fff;
      }

      &:active, &:active:focus {
        background-color: #00a696;
        border-color: #00a696;
        color: #fff;
      }
    }

    &.btn-info {
      border-color: #00bcd4;
      background-color: transparent;

      &:hover, &:focus {
        background-color: #00d5ed;
        border-color: #00d5ed;
        color: #fff;
      }

      &:active, &:active:focus {
        background-color: #0099b1;
        border-color: #0099b1;
        color: #fff;
      }
    }

    &.btn-danger {
      border-color: #F44336;
      background-color: transparent;
      color: #F44336;

      &:hover, &:focus {
        background-color: #ff4637;
        border-color: #ff4637;
        color: #fff;
      }

      &:active, &:active:focus {
        background-color: #e74036;
        border-color: #e74036;
        color: #fff;
      }
    }
  }
}

#survey-widget {
  .survey-container {
    .form-group {
      width: 100%;
    }
  }
}

.survey-container, .kv-editable-popover {
  .form-group {
    min-width: 100px;
  }

  .form-control {
    padding: 0;
    height: 23px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2196F3;
    border-radius: 0;
    background: transparent;
    width: 100% !important;
    box-shadow: none !important;
  }

  .input-group {
    .input-group-addon {
      padding: 0 8px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: transparent;
      border: none;
      border-radius: 4px;
    }

    .form-control {
      padding: 0;
      height: 23px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #2196F3;
      border-radius: 0;
      background: transparent;
      width: 100% !important;
      box-shadow: none !important;
    }
  }

  .has-success .form-control {
    border-color: #009688;
  }

  .has-error .form-control {
    border-color: #F44336;
  }

  .survey-block {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.14);

    .survey-name-wrap, .survey-question-name-wrap, .survey-question-view-wrap {
      background-color: $primaryColor;
      border-radius: 5px;
      padding: 10px;

      .kv-editable-link {
        color: #ffffff;
        font-size: 19px;
      }
    }

    .survey-questions-form-field {
      margin: 0 10px;
    }

    .survey-question-view-wrap {
      background-color: #e3e8ea;

      h4 {
        display: inline-block;
      }

    }

    .btn {
      padding: 4px 8px;

      &.btn-primary {
        border-color: #ababab;
        color: #ababab;

        background-color: transparent;

        &:hover, &:focus {
          background-color: #239dff;
          border-color: #239dff;
          color: #fff;
        }

        &:active, &:active:focus {
          background-color: #1f7aca;
          border-color: #1f7aca;
          color: #fff;
        }
      }

      &.btn-success {
        border-color: #ababab;
        color: #ababab;
        background-color: transparent;

        &:hover, &:focus {
          background-color: #00bdad;
          border-color: #00bdad;
          color: #fff;
        }

        &:active, &:active:focus {
          background-color: #00a696;
          border-color: #00a696;
          color: #fff;
        }
      }

      &.btn-info {
        border-color: #ababab;
        color: #ababab;
        background-color: transparent;

        &:hover, &:focus {
          background-color: #00d5ed;
          border-color: #00d5ed;
          color: #fff;
        }

        &:active, &:active:focus {
          background-color: #0099b1;
          border-color: #0099b1;
          color: #fff;
        }
      }

      &.btn-danger {
        border-color: #ababab;
        background-color: transparent;
        color: #ababab;

        &:hover, &:focus {
          background-color: #ff4637;
          border-color: #ff4637;
          color: #fff;
        }

        &:active, &:active:focus {
          background-color: #e74036;
          border-color: #e74036;
          color: #fff;
        }
      }
    }

    .survey-question-name-wrap {
      h4 {
        font-size: 16px;
        margin-bottom: 17px;
      }

      background-color: transparent;

      .btn {
        margin-left: 5px;
      }

      .survey-questions-form-field {
        margin: 0;
      }

      .form-control {
        color: $secondaryColor;
        font-weight: bold;
        font-size: 16px;
      }

      .form-group {
        width: 80%;
      }
    }

    label {
      margin-right: 10px;
    }

    .select2-container--krajee {
      display: inline-block;
      width: inherit !important;
      min-width: 200px;

      .select2-selection--single {
        padding: 0;
        height: 23px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #2196F3;
        border-radius: 0;
        background: transparent;
        width: 100% !important;
        box-shadow: none !important;

        .select2-selection__arrow {
          border-left: none;
          top: -5px;
        }
      }

    }

    .points-wrap {
      width: 50px;
      display: inline-block;
      text-align: center;

      input {
        text-align: center;
      }

      .points-title {
        font-size: 12px;
        color: #afafaf;
      }
    }

    .checkbox-inline {
      min-width: initial;

      label {
        font-weight: 300;
      }
    }

    .survey-questions-form-field-inline {
      margin: 10px;

      input {
        width: 40px !important;
        text-align: center;

      }
    }

    .inline-input {
      display: flex;
      flex-wrap: nowrap;

      label {
        flex-shrink: 0;
      }
    }
  }

  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

    background-color: #374141;
    border: none;
  }

  .pagination > .active > a {
    color: #eee;
  }

  .pagination > li > a, .pagination > li > span {
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
    color: #607D8B;
  }
}

.select2-container.select2-container--krajee .select2-dropdown {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.26);
  border-color: transparent;
}

.survey-container {
  .survey-btn {
    margin: 10px auto;
  }
}

.answers-container {
  .pseudo-checkbox {
    margin: 10px 0 10px 10px;
  }

  .name {
    font-size: 14px;

  }

  .answer-description {
    margin: 15px 0;
  }

  label {
    font-size: 14px;
    font-weight: normal;
  }
}

#survey-index {
  margin-top: 20px;

  .summary {
    margin: 15px 0;
  }

  .survey-card {
    background: #fff;

    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
    max-width: 700px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: box-shadow .3s;

    .first-line {
      padding: 10px;
      width: 100%;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
    }

    .second-line {
      padding: 0 10px 5px 10px;
      width: 100%;
      flex-wrap: nowrap;
      font-size: 12px;
      color: #9c9c9c;

      .date {
        float: right;
      }
    }

    &:hover {
      box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.13);
    }

    .status {
      width: 3px;
      align-self: baseline;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;

      &.active {
        background-color: #88f367;
      }

      &.closed {
        background-color: #ff6a6a;
      }

      &.expired {
        background-color: #91918d;
      }
    }

    .image {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #cecece;
      color: #fff;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      background-position: center;
      background-size: cover;
    }

    .description {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;

      .name {
        margin: 0 10px;
      }

      .survey-labels {
        margin-right: 10px;
        display: inline-flex;
        align-items: center;

        .survey-label {
          background-color: #607d8b;
          color: #fff;
          padding: 2px 5px;
          border-radius: 15px;
          min-width: 40px;
          display: inline-block;
          text-align: center;
          margin: 0 5px;

          &.respondents {
            background-color: #9C27B0;
          }

          &.completed-respondents {
            background-color: #009688;
          }
        }
      }

      .survey-actions {
        display: inline-flex;
      }
    }
  }

  .pagination > .active > a {
    color: #fff;
  }

}

#survey-list {

  .summary + .item {
    margin-top: 40px;
  }
}

#survey-pjax {
  .field-survey-survey_descr {
    margin-bottom: 15px;

    textarea {
      height: 100%;
      width: 100%;
    }
  }

  .form-group {
    margin-top: 10px;

    input {
      width: 100%;
    }
  }
}

#survey-title {
  background: $primaryColor;
  padding: 10px 20px;
  margin: 0 -15px;
  color: #fff;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 50px;

  .survey-labels {
    margin-right: 10px;

    .survey-label {
      background-color: #607d8b;
      color: #fff;
      padding: 2px 5px;
      border-radius: 15px;
      min-width: 40px;
      display: inline-block;
      text-align: center;
      margin: 0 5px;

      &.respondents {
        background-color: #9C27B0;
      }

      &.completed-respondents {
        background-color: #009688;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#survey-view {

  .survey-container .survey-block, .kv-editable-popover .survey-block {
    margin-bottom: 55px;
  }

  .survey-question-name-wrap {
    font-size: 16px;
    font-weight: 600;
  }
}

.respondents-toggle {
  cursor: pointer;
}

.hidden-modal-right {
  position: fixed;
  top: 0;
  right: -600px;
  z-index: 1;
  width: 600px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.96);
  padding: 20px;
  transition: all .3s;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.16);

  .close-btn {
    float: right;
    font-size: 22px;
    cursor: pointer;
  }

  &.opened {
    right: 0;
  }
}

#survey-respondents-pjax {
  #survey-respondents-list {
    margin-top: 20px;

    .summary {
      margin-bottom: 15px;
    }

    .item {
      padding: 2px 10px;
      background: #fff;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
      margin: 8px 0;
      transition: all .3s;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.13);
      }
    }
  }
}

#remote-modal {
  .modal-content {
    background: rgba(255, 255, 255, 0.83);

    .modal-body {
      background: transparent;

      .buttons {
        .btn {
          padding: 4px 9px;
          margin: 0;
        }
      }
    }
  }
}

.tt-menu {
  .tt-dataset {
    .disabled {
      color: #ddd;
    }
  }
}

#survey-widget {
  .survey-block {
    padding: 15px 5px;
  }

  .survey-infopane {
    top: 10px;
    margin-top: 25px;

    .infopane-block {
      margin-top: 15px;
    }

    p {
      color: #8c8c8c;
      font-size: 14px;
      margin: 0;
    }

    .wallet-price {
      color: #fa9646;
    }

    .status-price {
      color: #fadc64;
    }

    .price {
      font-size: 20px;
      font-weight: bold;
    }

    .survey-label {
      display: inline-block;
      background: #555;
      padding: 3px 10px;
      border-radius: 15px;
      color: #fff;
      margin-right: 5px;
    }

    .status {
      color: #fff;
      background: #374141;
      padding: 5px 20px;
      border-radius: 30px;
      font-weight: 700;
      display: inline-block;

      &.active {
        background: #82BE50;
      }

      &.closed {
        background: #fd4646;
      }

      &.expired {
        background: #c3bec2;
      }

      &.is-done {
        background: #fa9646;
      }
    }
  }
}

#survey-widget-title {
  padding: 0 15px 30px;

  h3 {
    font-weight: bold;
    font-size: 20px;
  }

  .survey-description {
    font-weight: 300;
    font-size: 14px;
  }
}

#survey-widget, #survey-view {
  #survey-title {
    align-items: flex-start;
    height: 300px;
    display: block;
    background: $secondaryColor;

    .subcontainer {
      max-width: 900px;
      margin: 0 auto 10px auto;

      label {
        margin-right: 10px;
      }

      &.flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .survey-labels {
      .survey-label {
        background: #03A9F4;
        border-radius: 3px;
        font-size: 13px;

        &.warning {
          background: #E91E63;
        }
      }
    }
  }

  .survey-container {
    margin-top: 0;

    textarea.form-control {
      height: 100%;

    }
  }

  #survey-questions {
    .radio-group, .checkbox-group {
      label {
        display: flex;
        align-items: baseline;
        font-weight: initial;

        & > input {
          margin-right: 15px;
        }

        .text {
          img {
            max-width: 100%;
            height: auto !important;
          }
        }
      }
    }

    .survey-question-descr-wrap {
      margin: 0 15px;

      img {
        max-width: 100%;
      }
    }

    .survey-block {
      margin-bottom: 0;
      box-shadow: none;

      .survey-question-name-wrap {
        padding: 0 10px;
        color: #82be50;
      }

      .answer-item {
        display: flex;
        align-items: center;
        margin: 0 10px;

        .answer-text {
          margin-left: 10px;
        }
      }

      .survey-question-descr-wrap {
        border-bottom: 1px solid #ddd;
        margin: 20px 15px;
      }

      .slider.slider-horizontal {
        width: 100%;
      }

      .btn-submit {
        margin: auto;
        display: block;
        padding: 10px;
        opacity: 0;

      }

      hr {
        margin-bottom: 15px;
      }
    }

    .error-summary {
      margin: 15px 0 0 0;
    }

    .card-footer {
      display: none;
      height: 40px;
    }
  }
}

.survey-loading {
  transition: opacity .3s;
  opacity: 0.7;
  overflow: hidden;

  &:after {
    content: "Please, wait...";
    display: block;
    position: fixed;
    width: 200px;
    left: calc(50vw - 100px);
    top: 50vh;
    text-align: center;

  }
}

#survey-view {
  .survey-container {
    //  margin-top: -165px;
  }

  .survey-actions {
    #survey-pjax {
      float: none;
      margin-top: 15px;

    }
  }

  .progress {
    height: 12px;
    margin-bottom: 10px;

    .progress-bar {
      font-size: 12px;
      line-height: 12px;

      &.init {
        width: 0 !important;
      }
    }
  }

  .answers-stat {
    margin: 0 10px;
  }
}

#survey-form {
  .form-group {
    display: block;
  }
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  transition: all .2s;
}

.checkbox:checked + label:before {
  background: #03A9F4;
}

.checkbox.danger:checked + label:before {
  background: #ff5722;
}

.checkbox:checked + label:after {
  left: 26px;
}

.checkbox:focus + label:before {
  // background: #4c80d4;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 27px;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  &:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 10px;
    background: transparent;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    border: solid #82be50;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  &:before {
    content: "";
    border: 2px solid #82be50;
  }
}

input[type=checkbox].css-checkbox + label.css-label {
  user-select: none;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #d4d4d4;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 3px;
  }
}

input[type=radio].css-radio {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: none;
}

input[type=radio].css-radio + label.css-label {
  padding-left: 27px;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=radio].css-radio:checked + label.css-label {
  &:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #82be50;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 5px;
    top: 8px;
    border-radius: 50%;
  }

  &:before {
    content: "";
    border: 2px solid #82be50;
  }
}

input[type=radio].css-radio + label.css-label {
  user-select: none;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: 3px;
  }

}

.survey-container .survey-block .survey-name-wrap {
  position: relative;
  padding: 15px;

  #form-photo-pjax {
    display: inline-block;
    width: 59px;
    height: 66px;
    position: absolute;
    top: -30px;
    left: 2px;
  }

  #survey-survey_name-cont {
    margin-left: 45px;
  }

  .preview-container {
    height: 41px;
    background: #d1deff;
    border-radius: 50%;
  }

  .uploadcrop label.control-label {
    height: 100px;
  }

  .uploadcrop .preview-pane {
    height: 59px;
  }

}

#s-done {
  margin: 50px auto 30px auto;
}

#survey-modal {
  .modal-content {
    .modal-header {
      background: #82be50;

      h2 {
        color: #fff;
        font-size: 30px;
      }

      img {
        margin: 30px auto 20px auto;
      }
    }

    .modal-body {
      color: #333;
      background: #fff;
      padding-bottom: 10px;

      .wallet-price {
        color: #fa9646;
        margin-bottom: 3px;
      }

      .status-price {
        color: #fadc64;
        margin-bottom: 3px;
      }

      .reward-info {
        display: flex;
        justify-content: center;
        flex-flow: row;

        .reward-item {
          margin: 0 20px;
          text-align: center;
        }
      }

      .price {
        font-size: 24px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        color: #374141;
      }

      .text {
        text-align: center;
        margin: 10px auto;
      }
    }

    .modal-footer {
      color: #333;
      background: #fff;
      padding-bottom: 30px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

  }
}

@media (max-width: 430px) {
  #survey-modal {
    .modal-content {
      .modal-footer {
        .btn {
          font-size: 13px;
          padding: 3px 10px;
          line-height: 26px;
        }
      }
    }
  }
}

#survey-modal {
  overflow-y: auto;
}